.bestseller-section {
    position: relative;
    background-color: var(--color-white);
    padding: 0;
}

.bestseller-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestseller-header {
    display: grid;
    width: 100%;
    margin-bottom: var(--space-md);
}

.bestseller-header>* {
    grid-area: 1 / 1;
}

.bestseller-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bestseller-title-wrapper {
    align-self: end;
    height: 50%;
    width: 100%;
    pointer-events: none;
}

.bestseller-title-wrapper h1 {
    position: sticky;
    top: calc(50vh - 0.4em);
    line-height: 1.0;
    margin-top: -1.0em;
    margin-bottom: 0;

    text-align: center;
    color: var(--color-white);
    font-size: clamp(40px, 8vw, 80px);
    font-family: var(--font-family);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0px;
    z-index: 10;
    margin: 0;
    pointer-events: none;
}

.bestseller-details {
    margin-top: var(--space-sm);
    max-width: 715px;
    width: 100%;
    text-align: center;
    padding: -50px;
}

.bestseller-details h4 {
    text-transform: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: var(--space-sm);
    color: var(--color-black);
}

.bestseller-details p {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-black);
}