.marquee-section {
    background-color: var(--color-black);
    height: 85px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    --marquee-gap: 95px;
    margin: 100px 0;
}

.marquee-track {
    display: flex;
    gap: var(--marquee-gap);
    width: max-content;
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: var(--marquee-gap);
    flex-shrink: 0;
    animation: scrollLeft 20s linear infinite;
}

.marquee-text {
    color: var(--color-white);
    font-size: 60px;
    font-family: var(--font-family);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
    line-height: 1;
}

.marquee-icon {
    width: 56.67px;
    height: 49.58px;
    display: block;
    object-fit: contain;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--marquee-gap)));
    }
}

@media (max-width: 1024px) {
    .marquee-section {
        height: 85px;
        margin: 0;
        --marquee-gap: 40px;
    }

    .marquee-text {
        font-size: 24px;
    }

    .marquee-icon {
        width: 45px;
        height: auto;
    }
}