.new-collection-section {
    position: relative;
    background-color: var(--bg-primary);
    padding: 100px 0;
}

.new-collection-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-collection-header {
    display: grid;
    width: 100%;
    margin-bottom: 0;
}

.new-collection-header>* {
    grid-area: 1 / 1;
}

.new-collection-image {
    width: 100%;
    max-width: 566px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.new-collection-title-wrapper {
    align-self: end;
    height: 50%;
    width: 100%;
    pointer-events: none;
}

.new-collection-title-wrapper h1 {
    position: sticky;
    top: calc(50vh - 0.4em);
    line-height: 1.0;
    margin-top: -0.5em;
    margin-bottom: 0;
    text-align: center;
    color: var(--color-white);
    font-size: 80px;
    font-family: var(--font-family);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0;
    z-index: 10;
    pointer-events: none;
}

.new-collection-description {
    margin-top: var(--space-md);
}

.new-collection-description:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 768px) {
    .new-collection-section {
        padding: 50px 0;
    }

    .new-collection-title-wrapper h1 {
        margin-bottom: -8vw;
    }
}