@import url('./mobile/base.css');
@import url('./mobile/hero.css');
@import url('./mobile/new-collection.css');
@import url('./mobile/collections-section.css');
@import url('./mobile/marquee.css');
@import url('./mobile/bestseller-section.css');
@import url('./mobile/features-section.css');
@import url('./mobile/faq-section.css');
@import url('./mobile/inquiry-section.css');
@import url('./mobile/footer.css');
