@import url('./mobile/base.css');
@import url('./mobile/navbar.css');
@import url('./mobile/hero.css');
@import url('./mobile/new-collection.css');
@import url('./mobile/collections-section.css');
@import url('./mobile/marquee.css');
@import url('./mobile/bestseller-section.css');
