* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size-base);
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
    z-index: 10;
    background-color: var(--color-white);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition-smooth);
    cursor: pointer;
}

ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}


button,
.nav-link,
.dropdown-item,
.nav-link-signin,
.scroll-to-homepage,
.btn-submit,
.btn-subscribe,
.faq-question,
.faq-tab,
.radio-label,
.checkbox-label {
    cursor: pointer;
}

input[type="text"],
input[type="email"] {
    cursor: text;
}

select {
    cursor: pointer;
}

.collection-image,
.hover-media,
.hero-video,
.bestseller-video {
    cursor: pointer;
}

.marquee-section {
    cursor: default;
}