@import './theme.css';
@import './foundation/breakpoints.css';
@import './base.css';

@import './utilities/helpers.css';

@import './navbar.css';

@import './components/hero.css';
@import './components/new-collection.css';
@import './components/bestseller-section.css';
@import './components/collections-section.css';
@import './components/faq.css';
@import './components/inquiry.css';
@import './components/footer.css';
@import './components/features.css';
@import './components/marquee.css';
@import './components/section-content.css';

@import './layouts/mobile.css';
@import './layouts/desktop.css';
