.nav-menu {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;

    font-size: var(--text-sm);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-black);
    text-decoration: none;
    white-space: nowrap;
    gap: 20px;

    transform-origin: center center;
    will-change: transform, color;
    backface-visibility: hidden;

    transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1),
        color 400ms cubic-bezier(0.16, 1, 0.3, 1),
        opacity 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-link:hover,
.has-dropdown.active .nav-link {
    transform: scale(1.15);
    font-weight: 700;

    color: var(--color-black);
    opacity: 0.8;
}

.mobile-chevron {
    display: none;
    transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.has-dropdown:hover .mobile-chevron,
.has-dropdown.active .mobile-chevron {
    transform: rotate(-180deg);
}